@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700&display=swap');

:root{
  --dark-color: #1F2937;
  --pre-text: #F9FAF8;
  --sec-text: #E5E7EB;
  --highlight-color: #3882F6;
}

*{
  margin: 0;
  padding: 0;
  box-shadow: none;
}

/* navbar styling */
.navbar{
  align-items: center;
  background: var(--dark-color);
  display: flex;
  justify-content: space-between;
  padding: 25px 100px;
}

.logo{
  color: var(--pre-text);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.unordered-links{
  display: flex;
}

.linked-item{
  color: var(--sec-text);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0 25px;
}

li{
  list-style: none;
}

/* hero styling */
.hero-container{
  display: flex;
  background: var(--dark-color);
  padding: 225px 100px;
  justify-content: space-between;
}

.hero-main{
  color: var(--pre-text);
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 800;
}

.hero-sec{
  color: var(--sec-text);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.btn{
  background: var(--highlight-color);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px 32px;
  text-align: center;
}

.img{
  align-items: center;
  display: flex;
  background: grey;
  height: 250px;
  justify-content: center;
  width: 500px;
}

.img p{
  color: var(--sec-text);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* information styling */

.info-header{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 800;
  justify-content: center;
  margin: 50px 0;
}

.article-row{
  display: flex;
  justify-content: center;
}

.article{
  border: 4px solid #3882F6;
  border-radius: 10px;
  height: 200px;
  margin: 5px 50px 0 0;
  width: 200px;
}

.article-title{
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 5px 0 100px 0;
}

/* quote styling */

.quote-container{
  background: var(--sec-text);
  padding: 0 633px;
}

.quote{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 300;
  justify-content: center;
}

.quoted-by{
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-end;
}